:root {
  --bg-main: #fbfbfb;
  --bg-card: #fdf6e3;
  --text-main: #424242;
  --text-link: #657b83;
  --text-link-hover: #b58900;
  --border-color: #dbd6c8;
  --border-hover: #b58900;
  --shadow-color: rgba(0, 0, 0, 0.15);
  --shadow-color-hover: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-main: #282828;
    --bg-card: #32302f;
    --text-main: #a89984;
    --text-link: #928374;
    --text-link-hover: #bdae93;
    --border-color: #3c3836;
    --border-hover: #bdae93;
    --shadow-color: #1d202150;
    --shadow-color-hover: #1d2021ff;
  }
}

html {
  height: 100vh;
}
body {
  font-family: monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: var(--bg-main);
  color: var(--text-main) !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

#startpage {
  background: var(--bg-card);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: var(--border-color);
  border-radius: 0px;
  box-shadow: 0px 0px 20px 10px var(--shadow-color) !important;
}

#startpage:hover {
  border-color: var(--border-hover);
  box-shadow: 0px 0px 20px 10px var(--shadow-color-hover) !important;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 15pt;
  font-weight: 300;
  margin: 0 !important;
}

a {
  color: var(--text-link);
  text-decoration: none;
}

a:hover {
  color: var(--text-link-hover);
  font-weight: 600;
}

div#links {
  column-count: 5;
}
