html {
  height: 100vh;
}
body {
  font-family: monospace;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #282828;
  color: #a89984 !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

#startpage {
  background: #32302f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-style: solid;
  border-width: 2px;
  border-color: #3c3836;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 15pt;
  font-weight: lighter;
}

/* li:before { */
/*   content: "\002B"; */
/*   padding: 0; */
/* } */

a {
  color: #a89984;
  text-decoration: none;
}

span#time {
  color: #a89984;
  font-size: 25pt;
  font-weight: lighter;
}

li:hover {
  font-weight: 400;
}

div#links {
  column-count: 4;
}
